*{
	font-family: sans-serif;
	margin: 0px;
}

 .logo {
	width: 100%;
	height: 75px;
	vertical-align: middle;
	text-align: center;
	font-size: 175%;
	
}


#chicken {
	background: #00539C;
	text-align: right;
	color: #ffffff;	
	border-color: #000000;
	border-style: solid;
	border-width: 0px 0px 2px 2px;
	float: right;
	width: 200px;
	font-size: 125%;
	text-align: center;
	padding: 5px;
}
#beef {
	background: #8D9440;
	text-align: right;
	color: #ffffff;	
	border-color: #000000;
	border-style: solid;
	border-width: 0px 0px 2px 2px;
	float: right;
	width: 200px;
	font-size: 125%;
	text-align: center;
	padding: 5px;
	}
#sushi {
	background:  #C62168;
	text-align: right;
	color: #ffffff;	
	border-color: #000000;
	border-style: solid;
	border-width: 0px 0px 2px 2px;
	float: right;
	width: 200px;
	font-size: 125%;
	text-align: center;
	padding: 5px;
}
p {
	margin: 15px;
	margin-top: 50px;
	clear: right;

}

@media (min-width: 992px){
	.menu_container_lg_1 {
		width: 31.99%;
		margin: 1% 0% 1% 1%;
		background: #aaaaaa;
		color: #000000;	
		box-sizing: border-box;
		border-style: solid;
		border-color: #000000;
		float: left;
	}
	.menu_container_lg_2 {
		width: 31.99%;
		margin: 1% 0% 1% 1%;
		background: #aaaaaa;
		color: #000000;	
		box-sizing: border-box;
		border-style: solid;
		border-color: #000000;
		float: left;
	}
	.menu_container_lg_3 {
		width: 31.99%;
		margin: 1%;
		background: #aaaaaa;
		color: #000000;	
		box-sizing: border-box;
		border-style: solid;
		border-color: #000000;
		float: left;
	}

}

@media (min-width: 768px) and (max-width: 991px) {
	.menu_container_md_1 {
		width: 48.5%;
		margin: 1% 0% 1% 1%;
		background: #aaaaaa;
		color: #000000;	
		box-sizing: border-box;
		border-style: solid;
		border-color: #000000;
		float: left;
	}
	.menu_container_md_2 {
		width: 48.5%;
		margin: 1%;
		background: #aaaaaa;
		color: #000000;	
		box-sizing: border-box;
		border-style: solid;
		border-color: #000000;
		float: left;
	}
	.menu_container_md_3 {
		width: 98%;
		margin: 0% 1% 1% 1%;
		background: #aaaaaa;
		color: #000000;	
		box-sizing: border-box;
		border-style: solid;
		border-color: #000000;
		float: left;
	}
	

}
@media ( max-width: 767px ) {
	.menu_container_sm_1 {
		width: 98%;
		margin: 1%;
		background: #aaaaaa;
		color: #000000;	
		box-sizing: border-box;
		border-style: solid;
		border-color: #000000;
		float: left;
	}
	.menu_container_sm_2 {
		width: 98%;
		margin: 0% 1% 1% 1%;
		background: #aaaaaa;
		color: #000000;	
		box-sizing: border-box;
		border-style: solid;
		border-color: #000000;
		float: left;
	}
	.menu_container_sm_3 {
		width: 98%;
		margin: 0% 1% 1% 1%;
		background: #aaaaaa;
		color: #000000;	
		box-sizing: border-box;
		border-style: solid;
		border-color: #000000;
		float: left;
	}

}